/* more turquoisey background for intro section */
#top {
   background-color: rgb(60, 200, 200);
   font-weight: bold;
}

/* make everything with class "center" centered, underlined, and dark blue */
.center {
   text-align: center;
   text-decoration: underline;
   color: #00008b;
}

/* make fake submit button text lighter when hovered over */
button[type="button"]:hover {
   color: hsl(0, 0%, 50%);
}

/* make links red while pressed */
a:active {
   color: hsl(0, 100%, 40%);
}

* {
   margin: auto;
   border-style: solid;
   border-color: black;
   border-width: 1mm;
   border-radius: 10pt;
   padding: auto;
}
