/* more turquoisey background for intro section */
#top {
   background-color: rgb(60, 200, 200);
   font-weight: bold;
}

/* make everything with class "center" centered, underlined, and dark blue */
.center {
   text-align: center;
   text-decoration: underline;
   color: #00008b;
}

/* make fake submit button text lighter when hovered over */
button[type="button"]:hover {
   color: hsl(0, 0%, 50%);
}

/* make links red while pressed */
a:active {
   color: hsl(0, 100%, 40%);
}

* {
   margin: auto;
   padding: auto;
}

/* surround table cells with border */
th, td {
   border-style: solid;
   border-color: black;
   border-width: 1mm;
   border-radius: 5pt;
}

/* change background color of links at bottom of page to a contrasting color */
footer nav {
   background-color: mintcream;
}

/* change background and text colors of ordered lists immediately after h3 (i.e. the only ordered list on the page) */
h3 + ol {
   background-color: maroon;
   color: mintcream;
}

/* change background color of unordered lists after h3 (i.e. the first unordered list on the page) */
h3 ~ ol {
   background-color: mediumturqoise;
}
